<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News Feed</title>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'locator/JS/jquery-3.2.1.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'locator/JS/main.js'%}"></script>
    <link rel="stylesheet" href="{% static 'locator/css/style.css'%}">
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div id="navlinks">
        <a href="{% url 'locator:index'%}">Home</a>
        <a href="{% url 'locator:send_email' id=1%}">Email</a>
        <a href="{% url 'locator:new_site'%}">Add New Site</a>
        <a href="{% url 'locator:all_sites'%}">Show all sites</a>
        <a href="{% url 'locator:search_tweets'%}">Tweets</a>
        <a href="{% url 'news:index'%}">All news</a>
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    </div>
    <canvas id="viewport">

    </canvas>


  </body>
</html>
