{% extends 'locator/base.html' %}
{% block body %}

<form class="siteForm" action="{% url 'locator:create_site' %}" method="post">
  {% csrf_token %}
  <label for="sitename">Site Name: </label><input type="text" name="sitename" value=""><br>
  <label for="latitude">Latitude: </label><input type="text" name="latitude" value=""><br>
  <label for="longitude">Longitude: </label><input type="text" name="longitude" value=""><br>
  <label for="email">Email: </label><input type="text" name="email" value=""><br>
  <label for="threshold">Threshold: </label><input type="text" name="threshold" value=""><br>
  <button type="submit" name="submit">Submit</button>
</form>
{% endblock %}
